<%- include('../../partials/header.ejs') %>
<main class="main-content">
    <div class="container my-container">
        <div class="display-4 my-5 text-center"><h1>404 page not found</h1></div>
</main> 

<%- include('../../partials/footer.ejs') %>


</body>
</html>