<div id="sidebar">
    <ul class = "list-group" style="color:black">
        <li  class = "list-group-item">
            <a style="color:black" href = "/dashboard">Dashboard</a>
        </li>
        <li class="list-group-item">
            <a style="color:black" href ="/post/allpost" > My All Posts</a>
        </li>
        <li class="list-group-item">
            <a style="color:black" href ="/post/create" > Create Post</a>
        </li>
        <li class="list-group-item">
            <a style="color:black" href ="/dashboard/edit-Profile" > Edit Porofile</a>
        </li>
    </ul>
</div>