<%- include('../../partials/header.ejs') %>
<main class="main-content">
    <div class="container my-container">
       <h1>Welcome to Dashboard</h1>
       <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, eum quibusdam rerum, ratione laboriosam labore doloribus reiciendis mollitia impedit pariatur in deserunt sed dignissimos unde. Sunt ducimus tenetur laborum excepturi voluptatum autem, sapiente deserunt aspernatur esse, praesentium voluptatibus repudiandae assumenda quam molestias iusto voluptate consequuntur rem, perspiciatis quasi maxime odio?</p>
    </div>
</main> 

<%- include('../../partials/footer.ejs') %>


</body>
</html>